/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
  ========================================
  Header
  ========================================
*/
.scroller-wrapper{
	height: 442px;
}
#img-scroller{
	position: relative;
	overflow: hidden;
	margin: 0 auto 0 auto;
}
#img-scroller ul{
	position: relative;
	height: 436px;
}
#img-scroller ul li {
  position: relative;
  float: left;
  height: 436px; 
  width: 960px;
}
a.control_next, a.control_previous{
	position: absolute;
	top: 40%;
	z-index: 999;
	padding: 4% 3%;
	height: auto;
	width: auto;
	background: #2a2a2a;
	opacity: 0.8;
	text-decoration: none;
	color: #fff;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
a.control_next:hover, a.control_previous:hover{
	opacity: 1;
	-webkit-transition: all 0.2s ease;
}

a.control_next{
	right: 0;
}
.logo-position{
	left: 25px;
	top: 25px;
	position: absolute;
	z-index: 10;
}

/*
  ========================================
  Navigation
  ========================================
*/
#bg-color-strip{
	background: #d7182a;
	height: 46px;
	width: 100%;
	position: absolute;
	top: 94px;
	right: 0px;
	z-index: 2;
}
nav li{
	display: inline-block;
}
nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

.blue{
	background-color: blue;
}
.red{
	background-color: red;
}
.green{
	background-color: green;
}
.orange{
	background-color: orange;
}
.primary-nav{
	padding-top: 14px;
}
.primary-nav ul{
	padding-left: 30px;
	float: left;
	display: inline;
}
.nav-item a{
	text-decoration: none;
	color: white;
	font-family: "Arial",sans-serif;
	font-weight: 600;
	font-size: 0.9em;
}
.nav-item a:hover{
	color: black;
}
.nav-item ul{
	display: none;
}
.first-column{
	padding-top: 20px;
}
.not-first-column{
	padding-top: 20px;
}
.primary-nav ul ul{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background: #d7182a;
	width: 960px;
	height: 130px;
	padding: 0;
}
.primary-nav ul ul li{
	width: 215px;
	border-bottom: 1px solid #dad9d9;
	margin-left: 20px;
	line-height: 120%
}
.primary-nav ul ul a{
	color: #dad9d9;
	text-transform: uppercase;
	font-size: 0.7em;
}
.divider{
	color: #dad9d9;
	margin-right: 9px; 
	margin-left: 9px;
}
.home-search-form{
	width: 200px;
	padding-left: 70px;
}
.home-form-input{
	padding: 2px 45px 2px 0px; 
}
.home-form-input-button{
	background-color: white;
	position: relative;
	color: #d7182a;	
	padding-bottom: 2px; 
}

/*
  ========================================
  Main Content Section
  ========================================
*/
.main-content{
	padding-bottom: 40px;
	padding-top: 20px;
}
.middle-content{
	font-family: "Helvetica","Arial",sans-serif;	
}
.sidebar-right ul li{
	margin-bottom: 25px;
}
.sidebar-left{
	font-family: "Helvetica","Arial",sans-serif; 
	color: black;
	line-height: 16px;
	font-size: 75%;
}
.sidebar-left ul{
	margin-top: 5px;
}
.sidebar-left-image{
	height: 66px;
}
.sidebar-left ul li a img{
	border-radius: 8px;
	-webkit-border-radius: 8px;
}
#calendar-link{
	padding: 0 0 6px;
	text-transform: uppercase;
	font-size: 85%;
	color: #010101;
}
#calendar-link a{
	text-decoration: none;
}
#calendar-link a:hover{
	text-decoration: underline;
}
.event{
	position: relative;
}
.event-tag{
	padding: 0 5px;
	float: left;
	background-color: red;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	margin-right: 5px;
}
.event-tag-position{
	left: 10px;
	top: -5px;
	position: absolute;
	z-index: 10;
}
.event-tag-music{
	background-color: #EE3286;
}
.event-tag-family{
	background-color: #f79733;
}
.event-tag-film{
	background-color: #43B64B;
}
.event-title{
	color: #0E0E0E;
	padding-top: 5px;
	height: 17px;
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 3px;
}
.event-description{
	color: #4A4949;
}
.event-content{
	top: 66px;
	width: 230px;
	height: 50px;
	padding: 0 0px;
	padding-left: 5px;
	margin-bottom: 10px;
	border-top: 2px solid white;
}
.event-content:hover{
	background-color: lightgray;
	padding-top: -2px;
	border-top: 2px solid green;	
}
.blog-top{
	height: 14px;
	width: 510px;
	margin-bottom: 15px;
}
#unframed-blog{
	background-position: -13px -227px;
	width: 142px;
	height: 14px;
}
#subscribe-blog{
	background-position: -395px -164px;
	width: 15px;
	height: 14px;
	float: right;
}
.subscribe-blog-text{
	float: right;
	font-size: 0.7em;
}
.blog-post-title{
	margin-bottom: 5px;
}
.blog-post-title a{
	color: #E31B25;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.4em;
	text-decoration: none;
}
.blog-post-title a:hover{
	text-decoration: underline;
}
.blog-post-title-date{
	font-size: 0.8em;
	margin-bottom: 20px;
}
.address-section{
	margin: 0 auto;
	width: 309px
}
.address-body-styles{
	width: 278px;
	line-height: 1.4em;
}
.address-body-styles a{
	color: #E31B25;
	font-weight: bold;
	text-decoration: none;
}
.address-body-styles a:hover{
	text-decoration: underline;
}
#address-header{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 3px;
}
.blog-post-article{
	margin-bottom: 3em;
	font-size: 0.8em;
}
.blog-post-article a{
	color: #E31B25;
	font-weight: bold;
	text-decoration: none;
}
.blog-post-article a:hover{
	text-decoration: underline;
}
.twitter-section{
	margin-top: 2em;
	margin-bottom: 1.2em; 
}
/*
  ========================================
  General Form Styles
  ========================================
*/
form{
	display: inline-block;

}
input {
  border: 1px solid white;
  background-color: #d7182a;
  color: white;
	z-index: 1;
  margin: 0;
  font-size: 0.4em;
  text-transform: uppercase;
}


/*
  ========================================
  Footer
  ========================================
*/
#footer-wrapper{
	border-top: 1px solid #000;
}
.footer-inner{
	padding-top: 20px;
}
.footer-nav{
	font-size: 0.6em;
	text-decoration: none;
	font-family: "Arial",sans-serif;
	text-transform: uppercase;
	float: left;
	padding-bottom: 20px;
	margin-top: 3px;
	margin-bottom: 15px;
}
.footer-nav ul{
	list-style: disc;
}
.footer-nav ul li{
	float: left;
	padding-right: 15px;
	list-style: disc;
	color: black;
}
.footer-nav ul li a{
	text-decoration: none;
}
.footer-nav ul li a:hover{
	text-decoration: underline;
}
.footer-social-links{
	float: right;
	margin-right: 10px;  
}
.footer-social-links a{
	display: block;
	float: left;
	text-indent: -9000px;
	background: url(images/sprites.png) top left no-repeat;
	margin-right: 7px;
}
#unframed{
	width: 60px;
	height: 12px;
	background-position: -349px -231px;
}
#twitter{
	width: 14px;
	height: 14px;
	background-position: -395px -281px;
}
#facebook{
	width: 14px;
	height: 14px;
	background-position: -393px -257px;
}
#pinterest{
	width: 14px;
	height: 14px;
	background-position: -481px -199px;
}
#tumblr{
	width: 14px;
	height: 14px;
	background-position: -481px -230px;
}
#instagram{
	width: 14px;
	height: 14px;
	background-position: -481px -257px;
}
