/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
  ========================================
  Header
  ========================================
*/
.scroller-wrapper{
	height: 442px;
}
#img-scroller{
	position: relative;
	overflow: hidden;
	margin: 0 auto 0 auto;
}
#img-scroller ul{
	position: relative;
	height: 436px;
}
#img-scroller ul li {
  position: relative;
  float: left;
  height: 436px; 
  width: 960px;
}
a.control_next, a.control_previous{
	position: absolute;
	top: 40%;
	z-index: 999;
	padding: 4% 3%;
	height: auto;
	width: auto;
	background: #2a2a2a;
	opacity: 0.8;
	text-decoration: none;
	color: #fff;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
a.control_next:hover, a.control_previous:hover{
	opacity: 1;
	-webkit-transition: all 0.2s ease;
}

a.control_next{
	right: 0;
}

/*
  ========================================
  Navigation
  ========================================
*/
#bg-color-strip{
	background: #d7182a;
	height: 46px;
	width: 100%;
	position: absolute;
	top: 94px;
	right: 0px;
	z-index: 2;
}
nav li{
	display: inline-block;
}
.red{
	background-color: red;
}
.blue{
	background-color: blue;
}
.primary-nav{
	position: absolute;
	top: 106px;
	z-index: 3;
	padding-left: 30px;
}
.nav-item{
	color: white;
	font-family: "Arial",sans-serif;
	font-weight: 600;
	font-size: 0.9em;
}
.divider{
	color: #dad9d9;
	margin-right: 9px; 
	margin-left: 9px;
}
/*
  ========================================
  Footer
  ========================================
*/
#footer-wrapper{
	border-top: 1px solid #000;
}